#title,
#subtittle {
    background-color: beige;
    color: green;
    text-align: center;
    font-size: 45px;
}

.text,
.text2,
.text3 {
    text-align: center;
    font-size: 18px;
}
.rolexhq {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 900px;
}